@CHARSET "UTF-8";

.node {
	background-color: #d5f4e6;
	width: 100px;
	height: 30px;
	border: 2px solid #0B6623;
	border-radius: 10px;
	margin: 20px;
	z-index: 100;
	display: flex;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	flex-direction: column;
	text-align: center;
}

.node>span {
	
}

.node:hover {
	transform: scale(1.1);
	cursor : pointer;
}

.node .critical {
	border: 2px solid #f70d22;
	background-color: #e4c3e6;
}